@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
	font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
	--content-width: 1360px;
	--turner-grey: #eee;
	--turner-blue: #0076be;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*/ HEADER //////////////////////////////////////////*/

.header {
	max-width: var(--content-width);
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header__logo-container {
	padding: 1em;
}

.navigation {
	width: 100%;
	background-color: var(--turner-blue);
	display: flex;
	justify-content: center;
}

.navigation__inner {
	display: flex;
	flex-direction: row;
	justify-content: left;
	width: 100%;
	max-width: var(--content-width);
	margin: 0 auto;
}

.navigation__inner div {
	padding: 1em;
	font-weight: bold;
	color: white;
}

/*/ BODY ////////////////////////////////////////////*/

.content--outer {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: var(--turner-grey);
}

.content {
	max-width: var(--content-width);
	background-color: white;
	flex-basis: var(--content-width);
	padding: 2em;
	min-height: 110vh;
}